<div class="grid">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="flex gap-2 align-items-center mb-6">
            <img src="assets/images/hm.png" style="width: 20%" />
            <div class="flex-grow-1">
                <p class="text-xl">
                    <span class="text-2xl font-semibold">"</span>
                    There cannot be enduring peace, prosperity, equality and
                    brotherhood in this world if our aims are so separate and
                    divergent, if we do not accept that in the end we are
                    people, all alike, sharing the Earth among ourselves and
                    also with other sentient beings, all of whom have an equal
                    role and stake in the state
                    <span class="text-2xl font-semibold">"</span>
                </p>
                <p class="text-right mt-2">
                    - His majesty the Fifth King of Bhutan
                </p>
            </div>
        </div>

        <hr style="margin: 5rem 0" />
        <h1 class="font-serif text-6xl text-blue-700 text-left">
            Welcome to Depository of Law
        </h1>
        <p class="text-justify text-xl">
            The Office of Attorney General 's Law Depository website provides
            access to authorized Bhutanese legislation and related information.
            This website is managed by the Office of Attorney General and aims
            to provide users with an easy and efficient way to access relevant
            legislation. All legislation published on the website is available
            in PDF format, suitable for hard copy printing. The website's top
            FAQs list is regularly updated based on user queries. If users have
            any questions or require assistance, they can contact the Office of
            Attorney General for help. The website's ongoing development is
            planned for the future to provide even better access to Bhutanese
            legislation and more features for website users. Overall, the Office
            of Attorney General Bhutan's Law Depository website strives to be a
            reliable and user-friendly resource for accessing Bhutanese
            legislation and related information.
        </p>
    </div>
    <div class="col-2"></div>
</div>
