<div class="p-6 bg-white" style="min-height: 80vh">
    <div class="flex align-items-end mb-6 justify-content-between">
        <p-button
            (click)="openAddDraftLegislataionModal()"
            label="Add New"
            size="small"
            icon="pi pi-plus"
        ></p-button>
        <h2 class="font-serif">{{ pageTitle }} A-Z</h2>
    </div>

    <p>Sort by alphabet</p>
    <div
        class="flex w-full flex-wrap justify-content-start xl:justify-content-between border-200 border-top-1 border-bottom-1"
    >
        <div
            *ngFor="let item of alphabets"
            class="w-3rem p-3 h-3rem cursor-pointer hover:surface-200 text-lg flex justify-content-center align-items-center"
            (click)="loadDataByAlphabet(item)"
            [ngClass]="{ 'surface-300': item === selectedAlphabet }"
        >
            <p>
                {{ item }}
            </p>
        </div>
    </div>

    <hr />
    <div class="grid">
        <div class="col-12">
            <div class="flex align-items-center mb-2 justify-content-between">
                <div>
                    <h3 class="font-serif">Showing {{ searchTitle }}</h3>
                    <p>
                        Showing {{ paginatedLegislations.data.length }} of
                        {{ paginatedLegislations.count }} Entries
                    </p>
                </div>
                <div class="">
                    <p-paginator
                        (onPageChange)="onPageChange($event)"
                        [first]="firstPageNumber"
                        [rows]="rows"
                        [totalRecords]="paginatedLegislations.count"
                        [rowsPerPageOptions]="rowsPerPageOptions"
                        [showFirstLastIcon]="true"
                        #paginator
                    ></p-paginator>
                </div>
            </div>

            <p-table
                #clt1
                *ngIf="
                    paginatedLegislations && paginatedLegislations.data.length
                "
                [value]="paginatedLegislations.data"
                [globalFilterFields]="['title_eng', 'documentYear']"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Type</th>
                        <th pSortableColumn="title_eng">Title</th>
                        <th>Status</th>
                        <th>added on</th>
                        <th pSortableColumn="documentYear">added by</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <div class="flex gap-1 align-items-center mb-2">
                                <div
                                    class="h-1rem w-1rem bg-red-200 border-circle"
                                ></div>
                                <p class="flex-grow-1">
                                    Draft {{ item.type | titlecase }}
                                </p>
                            </div>
                        </td>

                        <td
                            class="hover:text-primary cursor-pointer"
                            (click)="viewDraftLegislation(item)"
                        >
                            <p class="text-xl mb-2">
                                {{ item.title_eng | titlecase }}
                            </p>
                            <p class="font-uchen">
                                {{ item.title_dzo ? item.title_dzo : "" }}
                            </p>
                        </td>

                        <td>
                            <p>{{ item.status | titlecase }}</p>
                        </td>
                        <td>
                            <p>{{ item.createdAt | date }}</p>
                        </td>

                        <td>
                            {{ item.creator?.fullName }} <br />
                            {{ item.creator?.email }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <div
                *ngIf="!paginatedLegislations.data.length"
                class="py-4 text-xl"
            >
                No {{ searchTitle }}
            </div>
        </div>
    </div>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>
