<div class="flex gap-2 p-fluid my-4">
    <input
        type="text"
        disabled=""
        pInputText
        [(ngModel)]="legislation.title_eng"
    />

    <p-dropdown
        [options]="actions"
        [(ngModel)]="selectedAction"
        placeholder="Action"
        appendTo="body"
    ></p-dropdown>

    <hr />
</div>

<div class="flex gap-4 p-fluid align-items-center">
    <p-dropdown
        [options]="legislations"
        [(ngModel)]="subjectLegislation"
        [filter]="true"
        optionLabel="title_eng"
        filterBy="title_eng"
        filterMatchMode="contains"
        [showClear]="true"
        appendTo="body"
        (onFilter)="logFilter($event)"
        maxlength="22"
        placeholder="Select a Legislation"
    >
        <ng-template let-item pTemplate="item">
            <p style="max-width: 100px; text-wrap: pretty">
                {{ item.title_eng | titlecase }}
            </p>
        </ng-template>
    </p-dropdown>
    <strong>IN</strong>
    <p-dropdown
        [options]="repealModes"
        [(ngModel)]="selectedRepealMode"
        placeholder="Action"
        appendTo="body"
    ></p-dropdown>
</div>

<p-divider></p-divider>
<p-button
    label="Add Relationship"
    class="mt-6"
    (click)="addRelationship()"
></p-button>
