<div class="stepsdemo-content">
    <p-toast></p-toast>
    <p-card>
        <ng-template pTemplate="title"> Lease Parties </ng-template>
        <ng-template pTemplate="subtitle">
            Enter your card details
        </ng-template>

        <ng-template pTemplate="content">
            <div class="flex w-full flex-column text-center text-xl gap-4">
                <p class="text-xl text-center">This Agreement is entered on</p>
                <p-calendar
                    [(ngModel)]="agreementDate"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    (onChange)="extractDMY(agreementDate)"
                ></p-calendar>

                <p class="font-bold">
                    Day {{ extractDMY(agreementDate).day }} of
                    {{ getMonthName(extractDMY(agreementDate).month) }} month,
                    the year of
                    {{ extractDMY(agreementDate).year }}
                </p>
                <p>BETWEEN</p>
                <div class="">
                    <div *ngIf="!selectedTenant">
                        <p-inputGroup class="w-full">
                            <p-inputGroupAddon>+975</p-inputGroupAddon>
                            <input
                                type="text"
                                pInputText
                                placeholder="Tenant Phone Number"
                                [(ngModel)]="tenantPhoneNumber"
                                (keyup.enter)="searchTenantByPhoneNumber()"
                            />
                            <p-inputGroupAddon>
                                <i
                                    class="pi pi-search"
                                    (click)="searchTenantByPhoneNumber()"
                                ></i>
                            </p-inputGroupAddon>
                        </p-inputGroup>
                    </div>
                    <div *ngIf="selectedTenant">
                        <p>
                            <strong>
                                {{ selectedTenant.firstName }}
                                <span *ngIf="selectedTenant.middleName">
                                    {{ selectedTenant.middleName }}
                                </span>
                                <span *ngIf="selectedTenant.lastName">
                                    {{ selectedTenant.lastName }}
                                </span>
                            </strong>
                        </p>
                        <p>
                            bearing cid
                            <strong>{{ selectedTenant.cid }}</strong>
                        </p>
                        <p>
                            from
                            <strong>
                                {{ selectedTenant.subadministrativeZone.name }},
                                {{ selectedTenant.administrativeZone.name }}
                                ,
                                {{ selectedTenant.dzongkhag.name }}
                            </strong>
                        </p>
                        <small
                            class="underline italic cursor-pointer"
                            (click)="clearTenant()"
                        >
                            ( clear )
                        </small>
                        <p>Here in referred to as <strong>TENANT</strong></p>
                        <!-- <p-button label="x" (click)="clearTenant()"></p-button> -->
                    </div>
                </div>
                <div>AND</div>

                <div>
                    <div *ngIf="!selectedLandlord">
                        <p-inputGroup class="w-full">
                            <p-inputGroupAddon>+975</p-inputGroupAddon>
                            <input
                                type="text"
                                pInputText
                                placeholder="Landlord Phone Number"
                                [(ngModel)]="landlordPhoneNumber"
                                (keyup.enter)="searchLandlordByPhoneNumber()"
                            />
                            <p-inputGroupAddon>
                                <i
                                    class="pi pi-search"
                                    (click)="searchLandlordByPhoneNumber()"
                                ></i>
                            </p-inputGroupAddon>
                        </p-inputGroup>
                    </div>

                    <div *ngIf="selectedLandlord">
                        <p>
                            <strong>
                                {{ selectedLandlord.firstName }}
                                <span *ngIf="selectedLandlord.middleName">
                                    {{ selectedLandlord.middleName }}
                                </span>
                                <span *ngIf="selectedLandlord.lastName">
                                    {{ selectedLandlord.lastName }}
                                </span>
                            </strong>
                        </p>
                        <p>
                            bearing cid
                            <strong>{{ selectedLandlord.cid }}</strong>
                        </p>
                        <p>
                            from
                            <strong>
                                {{
                                    selectedLandlord.subadministrativeZone.name
                                }},
                                {{ selectedLandlord.administrativeZone.name }}
                                ,
                                {{ selectedLandlord.dzongkhag.name }}
                            </strong>
                        </p>

                        <small
                            class="underline italic cursor-pointer"
                            (click)="clearLandlord()"
                        >
                            ( clear )
                        </small>
                        <p>Here in referred to as <strong>Landlord</strong></p>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button
                    label="Back"
                    icon="pi pi-angle-left"
                    [disabled]="true"
                    (click)="prevPage()"
                ></p-button>
                <p-button
                    label="Next"
                    (click)="nextPage()"
                    [disabled]="!selectedLandlord && !selectedTenant"
                    icon="pi pi-angle-right"
                    iconPos="right"
                ></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
