<div
    class="LOGIN h-screen w-full flex justify-content-center align-items-center"
>
    <p-toast></p-toast>

    <div
        class="surface-card p-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem"
        style="border-radius: 14px"
    >
        <div class="py-6 px-4">
            <p class="text-4xl font-serif">Depository of Laws</p>
            <p class="text-sm">Welcome to OAG's Depository of Law</p>
            <p-divider></p-divider>

            <div class="p-fluid">
                <div class="p-input-icon-left mb-4">
                    <i class="pi pi-user"></i
                    ><input
                        type="text"
                        pinputtext=""
                        placeholder="Email"
                        [(ngModel)]="email"
                        class="p-inputtext p-component p-element w-full"
                    />
                </div>

                <div class="p-input-icon-left mb-4">
                    <i class="pi pi-key"></i
                    ><input
                        type="password"
                        pinputtext=""
                        placeholder="Password"
                        [(ngModel)]="password"
                        class="p-inputtext p-component p-element w-full"
                    />
                </div>

                <button
                    pbutton=""
                    pripple=""
                    label="Sign In"
                    class="p-element mb-4 p-ripple p-button p-component"
                    tabindex="0"
                    (click)="login()"
                >
                    <span class="p-button-label">Sign In</span
                    ><span
                        class="p-ink"
                        aria-hidden="true"
                        role="presentation"
                    ></span>
                </button>

                <p-checkbox
                    [(ngModel)]="rememberMe"
                    [binary]="true"
                    label="Remember me on this device?"
                    inputId="binary"
                ></p-checkbox>
            </div>
        </div>
        <div class="flex justify-content-end">
            <p class="mt-2 text-600 cursor-pointer text-right" routerLink="/">
                homepage
            </p>
        </div>
    </div>
</div>
