<div
    class="flex w-full h-full flex-column p-fluid align-items-center justify-content-center gap-3"
>
    <p class="mt-2 text-left">Search for keywords in the title or content.</p>
    <div class="flex gap-2">
        <div class="p-fluid">
            <div>
                <p-chips
                    [(ngModel)]="searchKeywords"
                    [addOnBlur]="true"
                    [addOnTab]="true"
                    placeholder="search for .."
                ></p-chips>
            </div>

            <div class="flex gap-2 my-2">
                <div class="flex align-items-center">
                    <p-checkbox
                        label="Title"
                        [binary]="true"
                        [(ngModel)]="searchInTitle"
                        (onChange)="toggleCheckbox('Title')"
                    ></p-checkbox>
                </div>
                <div class="flex align-items-center">
                    <p-checkbox
                        label="Content"
                        [binary]="true"
                        [(ngModel)]="!searchInTitle"
                        (onChange)="toggleCheckbox('Content')"
                    ></p-checkbox>
                </div>
            </div>
        </div>

        <div class="flex p-fluid gap-2">
            <p-dropdown
                [options]="documentTypes"
                [(ngModel)]="searchDocumentType"
                [showClear]="true"
                placeholder="Search for keyword(s) in"
            >
            </p-dropdown>

            <p-button
                label="Search"
                (click)="searchForLegislations()"
                icon="pi pi-search"
                iconPos="right"
            ></p-button>
        </div>
    </div>
</div>
