<div
    class="bg-white p-4 h-full"
    style="
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02),
            0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
    "
>
    <div class="flex align-items-end">
        <qrcode
            [qrdata]="getQr(building?.zhicharQrUuid)"
            [errorCorrectionLevel]="'M'"
            [allowEmptyString]="true"
            [cssClass]="'center'"
            [errorCorrectionLevel]="'high'"
            [colorDark]="'#111827'"
            [colorLight]="'#FFFFFF00'"
            [elementType]="'svg'"
            [errorCorrectionLevel]="'H'"
            [scale]="1"
            [title]="'BuildingQr'"
            [width]="100"
            class="m-0 p-0"
        ></qrcode>
        <div class="mb-3">
            <h4 class="m-0 p-0">
                {{ building?.name }}
            </h4>
            <p class="m-0 p-0">
                {{ building?.buildingNumber }} {{ building?.streetName }}
                {{ building?.adminsitrativeZone?.name }}
                {{ building?.subadministrativeZone?.name }}
            </p>
            <small class="m-0 p-0"> Lat: {{ building.latitude }} </small>
            <small class="m-0 p-0"> Long: {{ building.longitude }} </small>
        </div>
    </div>

    <p-tabView>
        <p-tabPanel header="Building Details">
            <div class="grid">
                <div class="col-12 lg:col-4 border-2 p-2 border-round">
                    <app-admin-building-details-card></app-admin-building-details-card>
                    <p>
                        <strong> Building Type: </strong>
                        {{ building.buildingType }}
                    </p>
                    <p>
                        <strong> Configuration: </strong>
                        {{
                            getBuildingFloorConfiguration(
                                building.regularFloorCount,
                                building.basementCount,
                                building.stiltCount,
                                building.atticCount,
                                building.jamthogCount
                            )
                        }}
                    </p>
                </div>
                <div class="col-12 lg:col-4">
                    <h2>Landlord</h2>
                    <p *ngFor="let item of buildingAmenities; let i = index">
                        {{ i + 1 }}) {{ item }}
                    </p>
                </div>
                <div class="col-12 lg:col-4">
                    <h2>Amenities</h2>
                    <p *ngFor="let item of buildingAmenities; let i = index">
                        {{ i + 1 }}) {{ item }}
                    </p>
                </div>
                <div class="col-12 lg:col-4">
                    <app-admin-building-rules
                        [buildingId]="buildingId"
                    ></app-admin-building-rules>
                </div>
                <div class="col-12 lg:col-4">
                    <app-admin-building-surcharges
                        [buildingId]="buildingId"
                    ></app-admin-building-surcharges>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Units">
            <router-outlet></router-outlet>
        </p-tabPanel>
    </p-tabView>
</div>
