<div class="h-screen overflow-y-scroll">
    <div class="flex gap-4 mt-4 justify-content-between">
        <div>
            <button
                pButton
                pRipple
                (click)="openAddLegislationRelationshipModal()"
                label="Add Relationship"
                size="small"
            ></button>
        </div>

        <div class="text-xl font-serif">Legislation History</div>
    </div>
    <p-divider></p-divider>

    <div style="overflow-y: scroll !important; height: 100vh !important">
        <app-admin-legislation-detail-card
            [legislationId]="history?.legislationId"
            [mode]="history?.mode"
            [repealedLegislations]="history?.repealedLegislations"
        ></app-admin-legislation-detail-card>
    </div>
</div>
