<div class="h-screen overflow-y-scroll">
    <div class="flex gap-4 my-4 justify-content-start">
        <p-button
            label="Legislative Relationships"
            size="small"
            severity="secondary"
            icon="pi pi-plus"
            (click)="openAddLegislationRelationshipModal()"
        >
        </p-button>
    </div>
    <p-divider></p-divider>

    <div style="overflow-y: scroll !important; height: 100vh !important">
        <app-admin-legislation-detail-card
            [legislationId]="history?.legislationId"
            [mode]="history?.mode"
            [repealedLegislations]="history?.repealedLegislations"
        ></app-admin-legislation-detail-card>
    </div>
</div>
