<div class="navbar">
    <div class="flex justify-center px-2 lg:px-6" id="center-header">
        <div class="flex justify-between items-center py-4 px-2">
            <div class="flex gap-4">
                <img src="assets/logo/oag_logo.png" class="h-7rem lg:h-9rem" alt="" />
                <div class="flex flex-column mt-auto">
                    <p class="font-serif text-2xl lg:text-5xl font-bold " style="color: black !important;">
                        Depository of Laws
                    </p>
                    <div class="font-bold">
                        <p class="text-xs text-black lg:text-base">
                            Free online access to Bhutan’s legislation.
                        </p>
                        <p class="text-xs text-black lg:text-base">
                            Office of the Attorney General
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex flex-grow-1 align-items-end pb-1 justify-content-end lg:px-6 font-bold bg-gray-200 ">
    <p-menubar [model]="items" class="flex-grow-1"> </p-menubar>
</div>