.navbar {
    background-image: url("../../../../../assets/images/bg2.png");
    background-repeat: repeat;
    background-size: 100% auto;
    background-color: #f5c431;
}
:host ::ng-deep .p-menubar {
    background: transparent !important;
    border: none !important;
    color: black !important;
}

:host ::ng-deep .p-menuitem-text {
    color: rgb(78, 76, 76) !important;
    font-weight: 800;
    // color:;
}
