<div class="layout-topbar">
    <button
        #menubutton
        class="p-link layout-menu-button layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo font-serif ml-4" routerLink="">
        <span>
            {{ companyName }}
        </span>
    </a>

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <p-avatar
            image="assets/images/avatar.jpeg"
            styleClass="mr-2 cursor-pointer"
            shape="circle"
            (click)="profile.toggle($event)"
        ></p-avatar>

        <p-overlayPanel #profile>
            <div class="flex">
                <p-avatar
                    image="assets/images/avatar.jpeg"
                    styleClass="mr-2"
                    shape="circle"
                    (click)="profile.toggle($event)"
                ></p-avatar>

                <p class="text-lg">Nima Yoezer Tenzin</p>
            </div>
            <hr />
            <div class="flex p-fluid flex-column">
                <div
                    pRipple
                    routerLink="user/profile"
                    class="flex gap-2 noselect hover:surface-50 px-2 border-round py-2 cursor-pointer"
                >
                    <i class="pi pi-user"></i>
                    <span>Your Profile</span>
                </div>
                <div
                    pRipple
                    class="flex gap-2 noselect hover:surface-50 px-2 border-round py-2 cursor-pointer"
                    (click)="logout()"
                >
                    <i class="pi pi-replay"></i>
                    <span>Logout</span>
                </div>
            </div>
        </p-overlayPanel>
    </div>
</div>
