<p-card header="Invoices">
    <p-table
        [value]="paginatedInvoices.data"
        responsiveLayout="stack"
        [breakpoint]="'960px'"
        [tableStyle]="{ 'min-width': '50rem' }"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Invoice Ref</th>
                <th>Property Ref</th>
                <th>Items</th>
                <th>Parties</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <p class="">#{{ item.id }}</p>
                    <p>
                        <strong>May 2024</strong>
                    </p>
                    <p-tag
                        [value]="item.status"
                        [severity]="getSeverity(item.status)"
                    ></p-tag>
                </td>
                <td>
                    <p>
                        {{ item.title }}
                    </p>
                    <p>
                        <strong class="italic underline cursor-pointer">
                            unit: {{ item.unitId }}
                        </strong>
                        at
                        <strong class="underline cursor-pointer"
                            >Building: {{ item.buildingId }}
                        </strong>
                        for
                        <strong>
                            Use Details {{ item.leaseAgreementId }}
                        </strong>
                        purpose
                    </p>
                </td>
                <td>
                    <p-table
                        [value]="item.invoiceItems"
                        [styleClass]="'p-datatable-sm'"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>particular</th>
                                <th>amount</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-i>
                            <tr class="noborder">
                                <td>
                                    {{ i.particular }}
                                </td>
                                <td>Nu.{{ i.amount }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </td>
                <td>
                    <p>From</p>
                    <p>Tenant: Sonam Wanchen, 222</p>
                    <p>To</p>
                    <p>Landlord: Aum Zam</p>
                </td>
                <td>
                    <p
                        class="underline italic cursor-pointer"
                        (click)="viewLeaseAgreement()"
                    >
                        view lease agreement
                    </p>
                    <p
                        class="underline italic cursor-pointer"
                        (click)="viewLeaseAgreement()"
                    >
                        view Property
                    </p>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
