.hero {
    background-image: url("/assets/images/herobg.png");
    background-size: 110% auto;
    background-position: bottom;
    background-repeat: no-repeat;
}

.cloud1 {
    position: absolute;
    bottom: 40%;
    opacity: 0.5;
    transform: scale(0.65);
    filter: grayscale(1);
}

// .bird {
//     position: absolute;
//     bottom: -2%;
//     left: 1%;
//     opacity: 0.1;
//     transform: scale(0.09);
//     filter: grayscale(1);
// }
// .bird2 {
//     position: absolute;
//     bottom: 0%;
//     left: 0%;
//     opacity: 0.1;
//     transform: scale(0.1);
//     filter: grayscale(1);
// }
// .bird3 {
//     position: absolute;
//     bottom: 2%;
//     left: 1%;
//     opacity: 0.1;
//     transform: scale(0.1);
//     filter: grayscale(1);
// }

.cloud2 {
    position: absolute;
    bottom: 38%;
    left: -5%;
    opacity: 0.3;
    transform: scale(0.4);
    filter: grayscale(1);
}

.cloud5 {
    position: absolute;
    bottom: 42%;
    left: -10%;
    opacity: 0.3;
    transform: scale(0.7);
    filter: grayscale(1);
}

//rught to left
.cloud3 {
    position: absolute;
    bottom: 46%;
    right: 0;
    opacity: 0.3;
    transform: scale(0.8);
    filter: grayscale(1);
}
.cloud4 {
    position: absolute;
    bottom: 44%;
    margin-right: -30px;
    right: 0;
    opacity: 0.4;
    transform: scale(0.5) rotate(180deg);

    filter: grayscale(1);
}
