<div class="grid w-full">
    <div class="col-12">
        <div class="flex justify-content-center">
            <div class="col-12 lg:col-8 flex flex-column lg:flex-row justify-content-between gap-4 mt-6">
                <img src="../../../../../assets/hm.png" class="w-full lg:w-auto" style="max-height: 400px; object-fit: contain;" alt="" />
                <div class="flex-1">
                    <div class="text-xl font-serif flex flex-column gap-6 h-full">
                        <div>
                            <svg style="transform: rotate(180deg)" xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" viewBox="0 0 24 24">
                                <path
                                    d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z" />
                            </svg>
                            <div class="mx-4">
                                <p>
                                    Laws are the foundation of order, security,
                                    prosperity, and social harmony. However,
                                    many countries face challenges due to an
                                    overabundance of laws, poor public
                                    understanding, and weak enforcement. This
                                    burdens the people and stifles innovation
                                    and enterprise. In Bhutan, we must ensure
                                    that laws, particularly those affecting the
                                    economy, are enacted swiftly and amended
                                    when necessary to create an agile,
                                    responsive legal system that fosters
                                    progress rather than impedes it. Such a
                                    system will be essential to ensure the
                                    smooth convergence of the GMC with the rest
                                    of Bhutan. Our goal is to establish one of the best
                                    legal systems in the world within the next
                                    10 years. Laws should serve the nation, its people,
                                    and the economy.
                                </p>
                                <p>
                                </p>
                                <p>
                                </p>
                            </div>
                            <div class="text-right">
                                <svg style="transform: rotate(360deg)" xmlns="http://www.w3.org/2000/svg" width="24"
                                    height="24" viewBox="0 0 24 24">
                                    <path
                                        d="M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z" />
                                </svg>
                            </div>
                        </div>
                        <p class="font-bold text-lg text-right">
                            -His Majesty's address on the 117th National day of
                            Bhutan
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="flex hero flex-column align-items-center justify-content-center">
            <div class="text-center flex flex-column align-items-center justify-content-center mt-4 mb-2">
                <div class="w-full">
                    <!-- <h1 class="font-serif text-6xl text-blue-700">
                        OAG's Depository of Law
                    </h1> -->
                    <!-- <p class="text-justify">
                        The Office of Attorney General 's Law Depository website
                        provides access to authorized Bhutanese legislation and
                        related information. This website is managed by the
                        Office of Attorney General and aims to provide users
                        with an easy and efficient way to access relevant
                        legislation. All legislation published on the website is
                        available in PDF format, suitable for hard copy
                        printing. The website's top FAQs list is regularly
                        updated based on user queries. If users have any
                        questions or require assistance, they can contact the
                        Office of Attorney General for help. The website's
                        ongoing development is planned for the future to provide
                        even better access to Bhutanese legislation and more
                        features for website users. Overall, the Office of
                        Attorney General Bhutan's Law Depository website strives
                        to be a reliable and user-friendly resource for
                        accessing Bhutanese legislation and related information.
                    </p> -->
                </div>
            </div>

            <div #centerElement class="flex flex-column lg:flex-row gap-4 lg:gap-8">
                <div class="w-full lg:w-auto">
                    <div class="flex w-full flex-column p-fluid align-items-center justify-content-center gap-3">
                        <p class="font-serif text-4xl text-center">
                            Search in the repository
                        </p>
                        <p class="mt-2 text-left">
                            Search for keywords in the title or content.
                        </p>
                        <div class="flex flex-column md:flex-row gap-2">
                            <div class="p-fluid flex-1">
                                <div>
                                    <p-chips [(ngModel)]="searchKeywords" [addOnBlur]="true" [addOnTab]="true"
                                        placeholder="search for .."></p-chips>
                                </div>

                                <div class="flex gap-2 my-2">
                                    <div class="flex align-items-center">
                                        <p-checkbox label="Title" [binary]="true" [(ngModel)]="searchInTitle"
                                            (onChange)="toggleCheckbox('Title')"></p-checkbox>
                                    </div>
                                    <div class="flex align-items-center">
                                        <p-checkbox label="Content" [binary]="true" [(ngModel)]="searchInContent"
                                            (onChange)="toggleCheckbox('Content')"></p-checkbox>
                                    </div>
                                </div>
                            </div>

                            <div class="flex p-fluid flex-column md:flex-row gap-2">
                                <p-dropdown [options]="documentTypes" [(ngModel)]="searchDocumentType"
                                    [showClear]="true" placeholder="Search for keyword(s) in">
                                </p-dropdown>

                                <p-button label="Search" (click)="searchForLegislations()" icon="pi pi-search"
                                    iconPos="right"></p-button>
                            </div>
                        </div>

                        <hr />
                    </div>

                </div>

                <div class="flex-grow-1">
                    <div class="text-left">

                        <div class="text-left">
                            <p-table [value]="latestLegislations" class="mt-4" [responsiveLayout]="'scroll'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>
                                            <p class="font-serif text-gray-500 text-4xl font-light">
                                                Latest Legislations
                                            </p>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-legislation>
                                    <tr (click)="onLegislationClick(legislation)" style="cursor: pointer;">                                        <td>
                                            <div>
                                                <p class="text text-gray-600">{{ legislation.title_eng }}</p>
                                                <p class="text-sm text-gray-600">{{ legislation.title_dzo }}</p>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="mt-2">
                <p class="text-center text-lg mt-6 font-serif">..in archive</p>
                <div *ngIf="!delegatedLegisaltionStats">
                    ..... loading stats
                </div>
                <div class="flex justify-content-center flex-wrap gap-2 md:gap-4 mb-6 mt-3" *ngIf="delegatedLegisaltionStats">
                    <div class="text-center">
                        <p class="text-3xl md:text-5xl font-bold data">
                            <!-- <app-animated-counter [endNumer]="legislationStats?.total"></app-animated-counter> -->
                            {{legislationStats?.current|| 0}}
                        </p>
                        <p class="text-lg md:text-xl font-serif">Legislation</p>
                    </div>
                    <div class="text-center">
                        <p class="text-3xl md:text-5xl font-bold data">
                            <!-- <app-animated-counter [endNumer]="delegatedLegisaltionStats?.total"></app-animated-counter> -->
                            {{delegatedLegisaltionStats?.current || 0}}
                        </p>
                        <p class="text-lg md:text-xl font-serif">Delegated Legislation</p>
                    </div>
                    <div class="text-center">
                        <p class="text-3xl md:text-5xl font-bold data">
                            <!-- <app-animated-counter [endNumer]="legislationStats?.bills"></app-animated-counter> -->
                            {{legislationStats?.bills || 0}}
                        </p>
                        <p class="text-lg md:text-xl font-serif">Bills</p>
                    </div>
                    <div class="text-center">
                        <p class="text-3xl md:text-5xl font-bold data">
                            <!-- <app-animated-counter [endNumer]="legislationStats?.repealed"></app-animated-counter> -->
                            {{legislationStats?.repealed || 0}}
                        </p>
                        <p class="text-lg md:text-xl font-serif">Repealed Legislation</p>
                    </div>
                    <div class="text-center">
                        <p class="text-3xl md:text-5xl font-bold data">
                            <!-- <app-animated-counter [endNumer]="legislationStats?.repealed"></app-animated-counter> -->
                            {{legislationStats?.conventions|| 0}}
                        </p>
                        <p class="text-lg md:text-xl font-serif">International Conventions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>