<form [formGroup]="createLandlordForm" class="p-fluid p-2">
    <div class="grid">
        <div class="field col-12 md:col-6">
            <label for="phoneNumber">Phone Number*</label>

            <p-inputGroup>
                <p-inputGroupAddon> +975</p-inputGroupAddon>
                <input
                    pInputText
                    maxlength="8"
                    id="phoneNumber"
                    formControlName="phoneNumber"
                />
            </p-inputGroup>
        </div>
        <div class="field col-12 md:col-6">
            <label for="cid">CID</label>
            <input pInputText id="cid" type="text" formControlName="cid" />
        </div>
        <div class="field col-12 md:col-4">
            <label for="firstName">First Name*</label>
            <input
                pInputText
                id="firstName"
                type="text"
                formControlName="firstName"
            />
        </div>
        <div class="field col-12 md:col-4">
            <label for="middleName">Middle Name</label>
            <input
                pInputText
                id="middleName"
                type="text"
                formControlName="middleName"
            />
        </div>
        <div class="field col-12 md:col-4">
            <label for="lastName">Last Name</label>
            <input
                pInputText
                id="lastName"
                type="text"
                formControlName="lastName"
            />
        </div>
        <div class="field col-12">
            <label for="email">Email</label>
            <input pInputText id="email" type="text" formControlName="email" />
        </div>

        <p class="col-12">Permanent Address</p>

        <div class="field col-12 md:col-6">
            <label for="dzongkhag">Dzongkhag</label>
            <p-dropdown
                id="dzongkhag"
                [options]="dzongkhags"
                optionValue="id"
                optionLabel="name"
                (onChange)="dzongkhagSelected($event)"
                formControlName="dzongkhagId"
            ></p-dropdown>
        </div>
        <div class="field col-12 md:col-6">
            <label for="gewog">Administrative Zone</label>
            <p-dropdown
                id="bankName"
                optionValue="id"
                optionLabel="name"
                (onChange)="administrativeZoneSelect($event)"
                [options]="administrativeZones"
                formControlName="administrativeZoneId"
            ></p-dropdown>
        </div>
        <div class="field col-12 md:col-12">
            <label for="chiwog">Sub AdministrativeZone</label>
            <p-dropdown
                id="chiwog"
                [options]="subadministrativeZones"
                optionValue="id"
                optionLabel="name"
                formControlName="subadministrativeZoneId"
            ></p-dropdown>
        </div>

        <p class="col-12">Bank Details</p>

        <div class="field col-12 md:col-6">
            <label for="bankName">Bank Name</label>
            <p-dropdown
                id="bankName"
                [options]="bankNames"
                formControlName="bankName"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-6">
            <label for="accountNumber">Account Number* </label>
            <input
                pInputText
                id="accountNumber"
                type="text"
                formControlName="accountNumber"
            />
        </div>

        <div class="field col-12 md:col-6">
            <label for="profileUpload">Profile Picture </label>
            <p-fileUpload
                id="profileUpload"
                mode="basic"
                chooseLabel="Upload Profile"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                maxFileSize="1000000"
                (onUpload)="onUpload($event)"
            ></p-fileUpload>
        </div>

        <div class="field col-12 md:col-6">
            <label for="signatureUpload">Signature* </label>
            <p-fileUpload
                id="signatureUpload"
                mode="basic"
                chooseLabel="Upload Signature"
                name="demo[]"
                url="https://www.primefaces.org/cdn/api/upload.php"
                accept="image/*"
                maxFileSize="1000000"
                (onUpload)="onUpload($event)"
            ></p-fileUpload>
        </div>
    </div>
    <p-messages
        [(value)]="messages"
        [enableService]="false"
        [closable]="false"
    ></p-messages>
    <p-button (click)="createLandlord()" label="Create Landlord"></p-button>
</form>
