<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title"> Finalize Lease </ng-template>
        <ng-template pTemplate="subtitle">
            Finalize Lease Agreement
        </ng-template>
        <ng-template pTemplate="content">
            <div class="text-center text-lg">
                <p>
                    This Rental/lease Agreement is executed on
                    {{ leaseInformation.parties?.agreementDay }} Day of
                    {{ leaseInformation.parties?.agreementMonth }} of the year
                    {{ leaseInformation.parties?.agreementYear }}
                </p>
                <p>BETWEEN</p>
                <p>
                    {{ leaseInformation.parties?.tenant?.firstName }}
                    {{ leaseInformation.parties?.tenant?.middleName }}

                    {{ leaseInformation.parties?.tenant?.lastName }}
                    holding Citizen ID No.
                    {{ leaseInformation.parties?.tenant?.cid }} of
                    {{
                        leaseInformation.parties?.tenant?.subadministrativeZone
                            ?.name
                    }}
                    ,
                    {{
                        leaseInformation.parties?.tenant?.administrativeZone
                            ?.name
                    }}
                    ,
                    {{ leaseInformation.parties?.tenant?.dzongkhag?.name }}
                    Dzongkhag, Herein after referred to as the “Tenant/ lessee”
                </p>
                <p>PARTY OF ONE PART and</p>
                <p>
                    {{ leaseInformation.parties?.landlord?.firstName }}
                    {{ leaseInformation.parties?.landlord?.middleName }}
                    {{ leaseInformation.parties?.landlord?.lastName }}

                    holding CID No
                    {{ leaseInformation.parties?.landlord?.cid }} of
                    {{
                        leaseInformation.parties?.landlord
                            ?.subadministrativeZone?.name
                    }},
                    {{
                        leaseInformation.parties?.landlord?.administrativeZone
                            ?.name
                    }}
                    {{ leaseInformation.parties?.landlord?.dzongkhag?.name }}

                    herein after referred to as the “Owner/Lessor".
                </p>
                <p>PARTY OF OTHER PART.</p>
                <p>
                    And whereas the parties hereto had due deliberations and
                    discussions and the consequence thereof they have reached an
                    understanding, which they have decided to reduce into
                    writing. NOW THIS AGREEMENT WITNESS and it is hereby
                    mutually agreed by and between the parties;
                </p>
            </div>
            <div>
                <p>
                    That the owner/lessor thus hereby grants and confers Unit
                    {{ leaseInformation.properties?.unit?.floorLevel }}-{{
                        leaseInformation.properties?.unit?.unitNumber
                    }}, of Building
                    {{ leaseInformation.properties?.building?.id }}
                    {{ leaseInformation.properties?.building?.name }} at plot on
                    plot
                    <ng-container
                        *ngFor="
                            let plot of leaseInformation.properties?.building
                                ?.plots;
                            let i = index
                        "
                    >
                        <strong>
                            {{ plot.plotId }}
                        </strong>
                        <ng-container
                            *ngIf="
                                i <
                                leaseInformation.properties?.building?.plots
                                    .length -
                                    1
                            "
                            >,</ng-container
                        >
                    </ng-container>
                    in favour of the aforesaid tenant on rent and on such terms
                    and condition stated below.
                </p>
                <ol>
                    <li>
                        The rental unit is rented for the purpose of:
                        {{ leaseInformation.properties?.use }}
                    </li>
                    <li>
                        That the period of tenancy/lease for the rental unit
                        shall be for a period of
                        {{
                            calculateMonthsDifference(
                                leaseInformation.duration?.leaseStartDate,
                                leaseInformation.duration?.leaseEndDate
                            )
                        }}
                        month, commencing from

                        {{ leaseInformation.duration?.leaseStartDate }}
                        to
                        {{ leaseInformation.duration?.leaseEndDate }}
                    </li>
                    <li>
                        That the rent for the said unit/premises is agreed to be
                        paid every month at Nu
                        {{ leaseInformation.charges?.rent }} per month.
                    </li>
                    <li>
                        That the rent as payable every month shall be tendered
                        by the tenant to the owner on or before
                        {{ leaseInformation.terms?.paymentDueDay }} of the
                        following month, failing which the owner shall charge
                        and the tenant shall pay an interest at 24% per annum on
                        the amount of rent payable for every day of default.
                    </li>
                    <li>
                        That the aforesaid tenant shall deposit a sum of Nu.
                        {{ leaseInformation.charges?.securityDepositAmount }}
                        only as security deposit on the execution of this
                        agreement.
                    </li>
                    <li>
                        The security deposit shall be refundable or adjusted in
                        accordance with the Act when the tenant vacates the
                        rental unit: Upon expiry of the tenancy term; Upon
                        termination of the tenancy by the tenant in accordance
                        with this agreement; Upon termination of the tenancy by
                        the owner in accordance with this agreement;
                    </li>
                    <li>
                        That the tenant hereby assures that he/she and his/her
                        family members shall use the unit/flat only for the
                        purpose for which it was granted.
                    </li>

                    <li>
                        The tenant may:

                        <strong>
                            {{
                                leaseInformation.terms.tenantSubletAuthority
                                    ? "May Sublet the unit"
                                    : " Sub-let only with a written consent of the owner"
                            }}
                        </strong>
                    </li>
                    <li>
                        The owner may evict the tenant if:
                        <ol>
                            <li>
                                Rent has been owing in respect of the rental
                                under for two months;
                            </li>
                            <li>
                                The tenant refuses to vacate the rental unit
                                after the expiry or termination of the tenancy;
                            </li>
                            <li>
                                The tenant creates nuisance to other tenants or
                                carries out any dangerous activities;
                            </li>
                            <li>
                                The tenant does not comply with the terms and
                                conditions of this agreement or the Tenancy Act.
                            </li>
                        </ol>
                    </li>
                    <li>
                        That the owner shall not discontinue or withhold any
                        services and facilities enjoyed by the tenant without
                        just and sufficient cause.
                    </li>
                    <li>
                        That the tenant shall dispose the garbage at a proper
                        place and also live hygienically.
                    </li>
                    <li>
                        That all municipal charges and other charges payable
                        such as electricity, water, sewerage, telephone, TV
                        cable shall be paid by the tenant.
                    </li>
                    <li>
                        That the tenant shall not make any structural additions
                        and alterations to the unit/flat without prior written
                        consent of the Owner.
                    </li>
                    <li>
                        The owner may terminate the rental agreement and
                        reacquire the rental unit for his own occupation during
                        the subsistence of tenancy in accordance with the
                        Tenancy Act.

                        <strong>
                            {{
                                leaseInformation.terms
                                    ?.ownerPrematureTermination
                                    ? "Yes"
                                    : "No"
                            }}
                        </strong>
                    </li>
                    <li>
                        The tenant may terminate the rental agreement during the
                        subsistence of the tenancy in accordance with the
                        Tenancy Act.
                        <strong>
                            {{
                                leaseInformation.terms
                                    ?.tenantPrematureTermination
                                    ? "Yes"
                                    : "No"
                            }}
                        </strong>
                    </li>
                    <li>
                        The tenant may terminate by providing
                        {{ leaseInformation.terms?.vacationNoticePeriod }}
                        months advance notice as per section 77 of this Act.
                    </li>

                    <li>
                        The owner shall give
                        {{ leaseInformation.terms?.rentIncreaseNoticePeriod }}
                        months advance notice for rent increases.
                    </li>
                    <li>
                        The tenant shall serve
                        {{ leaseInformation.terms?.vacationNotice }} months
                        notice as per section 80 of the Tenancy Act of Bhutan.
                    </li>
                    <li>
                        Renewal notice of 2 months notice as per section 82 of
                        the Tenancy Act of Bhutan.
                    </li>
                    <li>
                        The Dispute Settlement Committee under the concerned
                        local government and the Royal Courts of Justice shall
                        have jurisdiction over any dispute that arises out this
                        agreement.
                    </li>
                    <li>
                        That in consideration of the tenant paying the rent, the
                        owner does hereby grant and confer this tenancy in
                        favour of the tenant in respect of the premises TO HAVE
                        AND HOLD the same as a tenant hereof, during the tenancy
                        period.
                    </li>
                </ol>

                <p-button
                    label="Create Lease Agreement"
                    (click)="createLeaseAgreement()"
                >
                </p-button>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button
                    label="Back"
                    (onClick)="prevPage()"
                    icon="pi pi-angle-left"
                ></p-button>
                <p-button
                    label="Create Lease"
                    (onClick)="createLease()"
                    icon="pi pi-save"
                    iconPos="right"
                ></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
