.navbar {
    position: absolute;
    width: 100%;
    display: flex;
    gap: 20%;
    z-index: 99999;
    justify-content: space-between;
    align-items: flex-end;
}
:host ::ng-deep .p-menubar {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: flex-end;
}

:host ::ng-deep .p-menu-list {
    background: transparent !important;
    border: none !important;
}

:host ::ng-deep .p-menuitem {
    background: transparent !important;
    border: none !important;
}

:host ::ng-deep .p-menuitem-text {
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &::before {
        content: "";
        background-image: url("../../../../../assets/images/header_bg.png");
        background-repeat: repeat;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.6;
        z-index: -1;
    }
}
