.navbar {
    position: absolute;
    width: 100%;
    display: flex;
    gap: 20%;
    z-index: 99999;
    justify-content: space-between;
    align-items: flex-end;
}
:host ::ng-deep .p-menubar {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: flex-end;
}

:host ::ng-deep .p-menu-list {
    background: transparent !important;
    border: none !important;
}

:host ::ng-deep .p-menuitem {
    background: transparent !important;
    border: none !important;
}

:host ::ng-deep .p-menuitem-text {
}
