<div class="navbar">
    <div class="w-full flex justify-center px-2 lg:px-6" id="center-header">
        <div class="flex justify-between items-center py-4 px-2">
            <div class="flex gap-4">
                <img
                    src="assets/logo/oag_logo.png"
                    class="h-4rem lg:h-7rem"
                    alt=""
                />
                <div class="flex flex-column justify-content-between">
                    <p class="font-serif text-2xl lg:text-6xl text-black">
                        Depository of Laws
                    </p>
                    <div>
                        <p class="text-xs lg:text-base">
                            Office of the Attorney General
                        </p>
                        <p class="text-xs lg:text-base">
                            Free online access to Bhutan’s legislation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="flex align-items-end pb-3 justify-content-between lg:px-6 border-bottom-2 border-yellow-100"
    >
        <p-menubar [model]="items" class="flex-1"> </p-menubar>

        <p
            routerLink="/login"
            class="noselect px-3 py-1 border-round text-blue-800 border-blue-800 hover:bg-blue-800 hover:text-white cursor-pointer border-1"
        >
            Login
        </p>
    </div>
</div>
