<div class="stepsdemo-content">
    <p-card>
        <p-toast></p-toast>
        <p-confirmPopup></p-confirmPopup>
        <ng-template pTemplate="title"> Lease Charges </ng-template>
        <ng-template pTemplate="subtitle"> Rent and other charges </ng-template>
        <ng-template pTemplate="content">
            <div class="flex w-full flex-column text-center gap-4">
                <p>
                    The aforementioned unit is leased to the
                    <strong>TENANT</strong>
                </p>

                monthly rent of
                <p-inputGroup class="w-full">
                    <p-inputGroupAddon>Nu.</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        placeholder="Monthly Rent"
                        [(ngModel)]="rent"
                    />
                </p-inputGroup>

                and a security deposit amount of
                <p-inputGroup class="w-full">
                    <p-inputGroupAddon>Nu.</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        placeholder="Monthly Rent"
                        [(ngModel)]="securityDeposit"
                    />
                </p-inputGroup>

                <div>
                    <p>Charges</p>
                    <!-- <p *ngFor="let item of buildingSurcharges">
                        {{ item.particular }} at {{ item.amount }} source:
                        Building Charges
                    </p>
                    <p *ngFor="let item of unitSurcharges">
                        {{ item.particular }} at {{ item.amount }} source: Unit
                        Charges
                    </p> -->

                    <p-button
                        label="Create Lease Charge"
                        (click)="openCreateLeaseSurchargeModal()"
                    ></p-button>

                    <p-table [value]="leaseCharges" class="p-datatable-sm">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Particular</th>
                                <th>Amount(NU)</th>
                                <th>Source</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template
                            pTemplate="body"
                            let-item
                            let-editing="editing"
                        >
                            <tr>
                                <td
                                    [pEditableColumn]="item.particular"
                                    pEditableColumnField="particular"
                                >
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input
                                                pInputText
                                                type="text"
                                                [(ngModel)]="item.particular"
                                            />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ item.particular }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td
                                    [pEditableColumn]="item.amount"
                                    pEditableColumnField="amount"
                                >
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input
                                                pInputText
                                                type="text"
                                                [(ngModel)]="item.amount"
                                            />
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ item.amount }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td>
                                    {{ item.source }}
                                </td>
                                <td>
                                    <p-button
                                        (click)="deleteCharge($event, item)"
                                        icon="pi pi-times"
                                        label="Delete"
                                        severity="danger"
                                    ></p-button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <p>
                        Total Montly Payable :
                        <strong> {{ getTotalMonthlyPayabe() }} </strong>
                    </p>
                </div>
            </div>
            <p *ngIf="leaseEndDate && leaseStartDate" class="text-center">
                from for a period of
                {{ calculateMonthsDifference(leaseStartDate, leaseEndDate) }}
                MONTHS
            </p>

            <p-dialog
                header="Add Charges"
                [(visible)]="showAddLeaseChargeForm"
                [modal]="true"
                [style]="{ width: '50vw' }"
                [draggable]="false"
                [resizable]="false"
            >
                <form [formGroup]="createLeaseChargeForm" class="p-fluid p-2">
                    <div class="grid">
                        <div class="field col-12">
                            <label for="particular">Particular</label>
                            <textarea
                                rows="5"
                                cols="30"
                                pInputTextarea
                                formControlName="particular"
                            ></textarea>
                        </div>
                        <div class="field col-12">
                            <label for="particular">Amount</label>
                            <p-inputNumber
                                inputId="integeronly"
                                formControlName="amount"
                            >
                            </p-inputNumber>
                        </div>
                    </div>

                    <p-button
                        (click)="createLeaseCharge()"
                        label="Create Rule"
                    ></p-button>
                </form>
            </p-dialog>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button
                    label="Back"
                    (onClick)="prevPage()"
                    icon="pi pi-angle-left"
                ></p-button>
                <p-button
                    label="Next"
                    (onClick)="nextPage()"
                    icon="pi pi-angle-right"
                    iconPos="right"
                ></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
