<p-steps
    [model]="items"
    [readonly]="false"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onActiveIndexChange($event)"
    class="w-ful"
></p-steps>
<p-toast></p-toast>
<div
    class="p-fluid flex flex-column justify-content-center align-items-center"
    style="height: 100%; width: 100%"
>
    <div
        id="parties"
        *ngIf="partiesTabSelected"
        class="flex w-full flex-column text-center text-xl gap-4"
    >
        <p class="font-bold mt-6">This Agreement is between</p>
        <div class="">
            <div *ngIf="!selectedTenant">
                <p-inputGroup class="w-full cursor-pointer hover:border-2">
                    <p-inputGroupAddon>+975</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        placeholder="Tenant Phone Number"
                        [(ngModel)]="tenantPhoneNumber"
                        (keyup.enter)="searchTenantByPhoneNumber()"
                    />
                    <p-inputGroupAddon>
                        <i
                            class="pi pi-search"
                            (click)="searchTenantByPhoneNumber()"
                        ></i>
                    </p-inputGroupAddon>
                </p-inputGroup>
            </div>
            <div *ngIf="selectedTenant">
                <p>
                    <strong>
                        {{ selectedTenant.firstName }}
                        <span *ngIf="selectedTenant.middleName">
                            {{ selectedTenant.middleName }}
                        </span>
                        <span *ngIf="selectedTenant.lastName">
                            {{ selectedTenant.lastName }}
                        </span>
                    </strong>
                </p>
                <p>
                    bearing cid
                    <strong>{{ selectedTenant.cid }}</strong>
                </p>
                <p>
                    from
                    <strong>
                        {{ selectedTenant.subadministrativeZone.name }},
                        {{ selectedTenant.administrativeZone.name }}
                        ,
                        {{ selectedTenant.dzongkhag.name }}
                    </strong>
                </p>
                <small
                    class="underline italic cursor-pointer"
                    (click)="clearTenant()"
                >
                    ( clear )
                </small>
                <p>Here in referred to as <strong>TENANT</strong></p>
                <!-- <p-button label="x" (click)="clearTenant()"></p-button> -->
            </div>
        </div>
        <div>AND</div>

        <div>
            <div *ngIf="!selectedLandlord">
                <p-inputGroup class="w-full">
                    <p-inputGroupAddon>+975</p-inputGroupAddon>
                    <input
                        type="text"
                        pInputText
                        placeholder="Landlord Phone Number"
                        [(ngModel)]="landlordPhoneNumber"
                        (keyup.enter)="searchLandlordByPhoneNumber()"
                    />
                    <p-inputGroupAddon>
                        <i
                            class="pi pi-search"
                            (click)="searchLandlordByPhoneNumber()"
                        ></i>
                    </p-inputGroupAddon>
                </p-inputGroup>
            </div>

            <div *ngIf="selectedLandlord">
                <p>
                    <strong>
                        {{ selectedLandlord.firstName }}
                        <span *ngIf="selectedLandlord.middleName">
                            {{ selectedLandlord.middleName }}
                        </span>
                        <span *ngIf="selectedLandlord.lastName">
                            {{ selectedLandlord.lastName }}
                        </span>
                    </strong>
                </p>
                <p>
                    bearing cid
                    <strong>{{ selectedLandlord.cid }}</strong>
                </p>
                <p>
                    from
                    <strong>
                        {{ selectedLandlord.subadministrativeZone.name }},
                        {{ selectedLandlord.administrativeZone.name }}
                        ,
                        {{ selectedLandlord.dzongkhag.name }}
                    </strong>
                </p>

                <small
                    class="underline italic cursor-pointer"
                    (click)="clearLandlord()"
                >
                    ( clear )
                </small>
                <p>Here in referred to as <strong>Landlord</strong></p>
                <!-- <p-button label="x" (click)="clearLandlord()"></p-button> -->
            </div>
        </div>

        <div *ngIf="selectedLandlord && selectedTenant">
            <button
                pButton
                pRipple
                label="Save and Next"
                icon="pi pi-save"
                (click)="savePartiesAndNext()"
            ></button>
        </div>
    </div>

    <div
        id="properties"
        *ngIf="propertyTabSelected"
        class="flex flex-column text-xl text-center gap-4"
    >
        <div
            *ngIf="selectedTenant && selectedLandlord"
            class="flex flex-column text-xl text-center gap-4"
        >
            <p>
                The <strong>LANDLORD</strong> leases the following proeprty
                under his name to the
                <strong>TENANT</strong>
            </p>

            <div>
                <p-dropdown
                    [options]="buildings"
                    [(ngModel)]="selectedBuilding"
                    optionLabel="name"
                    [showClear]="true"
                    (onChange)="loadUnitsByBuilding()"
                    placeholder="Select a Building "
                >
                    <ng-template pTemplate="selectedItem">
                        <div
                            class="flex align-items-center gap-2 text-xl"
                            *ngIf="selectedBuilding"
                        >
                            <div>
                                Building with ID
                                {{ selectedBuilding.id }},
                                <span *ngIf="selectedBuilding.name">
                                    {{ selectedBuilding.name }}
                                </span>
                                at {{ selectedBuilding.dzongkhag.name }},
                                {{ selectedBuilding.administrativeZone.name }},
                                {{
                                    selectedBuilding.subadministrativeZone.name
                                }}
                                on plot ID
                                <span
                                    *ngFor="let plot of selectedBuilding.plots"
                                >
                                    {{ plot.plotId }}
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-building pTemplate="item ">
                        <div class="flex align-items-center gap-2 text-xl">
                            <div>
                                Building with ID
                                {{ building.id }},
                                <span *ngIf="building.name">
                                    {{ building.name }}
                                </span>
                                at {{ building.dzongkhag.name }},
                                {{ building.administrativeZone.name }},
                                {{ building.subadministrativeZone.name }}
                                on plot ID
                                <span *ngFor="let plot of building.plots">
                                    {{ plot.plotId }}
                                </span>
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>

            <div class="">
                <p-dropdown
                    [options]="units"
                    [(ngModel)]="selectedUnit"
                    optionLabel="name"
                    [showClear]="true"
                    placeholder="Select Unit "
                >
                    <ng-template pTemplate="selectedItem">
                        <div
                            class="flex align-items-center gap-2 text-xl"
                            *ngIf="selectedUnit"
                        >
                            <div>
                                {{ selectedUnit.floorLevel }}-{{
                                    selectedUnit.unitNumber
                                }}
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-unit pTemplate="item ">
                        <div class="flex align-items-center gap-2 text-xl">
                            <div>
                                {{ unit.floorLevel }}-{{ unit.unitNumber }}
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>

        <h2 *ngIf="!selectedTenant && !selectedLandlord">
            Please select the Landlord and Tenant Party
        </h2>
        <div *ngIf="selectedBuilding && selectedUnit">
            <p>
                Unit
                <strong
                    >{{ selectedUnit.floorLevel }}-{{
                        selectedUnit.unitNumber
                    }}</strong
                >
                of Building with ID
                <strong
                    >{{ selectedBuilding.id }},
                    <span *ngIf="selectedBuilding.name">
                        {{ selectedBuilding.name }}
                    </span></strong
                >
                at
                <strong
                    >{{ selectedBuilding.dzongkhag.name }},
                    {{ selectedBuilding.administrativeZone.name }},
                    {{ selectedBuilding.subadministrativeZone.name }}</strong
                >
                on plot TA1-252 is leased to the tenant for
                <strong>Residence</strong> purpose
            </p>
            <button
                pButton
                pRipple
                label="Save and Next"
                icon="pi pi-save"
                (click)="savePropertiesAndNext()"
            ></button>
        </div>
    </div>

    <div
        id="terms"
        *ngIf="termsTabSelected"
        class="flex flex-column text-xl text-center"
    ></div>
    <div id="rules" *ngIf="rulesTabSelected" class="grid col-12">
        <p class="col-12">Rules</p>
        <p>The tenant may Sublet the rental unit</p>
        <p>
            The owner may terminate the rental agreement and reacquire the
            rental unit for his own occupation during the subsistence of tenancy
            in accordance with the Tenancy Act.
        </p>
        <p>
            The tenant may terminate the rental agreement during the subsistence
            of the tenancy in accordance with the Tenancy Act.
        </p>
    </div>
    <div id="charges" *ngIf="chargesTabSelected" class="grid col-12">
        <p class="col-12">Rules</p>
        <p>RENT</p>

        <h2>Finalize Lease Agreement</h2>
    </div>
</div>
