<div style="border: 0.01px solid gray" class="p-2 border-round shadow-lg">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <div class="flex align-items-center justify-content-between">
        <h3>Unit Rules</h3>
        <p-button
            icon="pi pi-plus"
            (click)="openCreateUnitRuleModal()"
            size="small"
            class="p-0"
        ></p-button>
    </div>

    <div
        *ngFor="let item of unitRules; let i = index"
        class="flex justify-content-between"
    >
        <p>{{ i + 1 }}) {{ item.particular }}</p>
        <div>
            <p-button
                icon="pi pi-pencil"
                (click)="openUpdateUnitRuleModal(item)"
                [text]="true"
                class="p-0"
            ></p-button>
            <p-button
                icon="pi pi-trash"
                (click)="openDeleteUnitRuleModal(item, $event)"
                [text]="true"
                class="p-0"
                severity="danger"
            ></p-button>
        </div>
    </div>

    <div
        *ngIf="!unitRules || unitRules.length === 0"
        class="flex flex-column w-full align-items-center"
    >
        <img style="width: 100px" src="assets/logo/nodata.png" />
        <p>
            <small> Not Added </small>
        </p>
    </div>

    <p-dialog
        header="Add Unit Rule"
        [(visible)]="showCreateUnitRuleModal"
        [style]="{ width: '500px' }"
        [modal]="true"
    >
        <form [formGroup]="createUnitRuleForm" class="p-fluid p-2">
            <div class="grid">
                <div class="field col-12">
                    <label for="particular">Particulars</label>
                    <textarea
                        rows="5"
                        cols="30"
                        pInputTextarea
                        formControlName="particular"
                    ></textarea>
                </div>
            </div>

            <p-button (click)="createUnitRule()" label="Create Rule"></p-button>
        </form>
    </p-dialog>

    <p-dialog
        header="Update Unit Rule"
        [(visible)]="showUpdateUnitRuleModal"
        [style]="{ width: '500px' }"
        [modal]="true"
    >
        <form [formGroup]="updateUnitRuleForm" class="p-fluid p-2">
            <div class="grid">
                <div class="field col-12">
                    <label for="particular">Particulars</label>
                    <textarea
                        rows="5"
                        cols="30"
                        pInputTextarea
                        formControlName="particular"
                    ></textarea>
                </div>
            </div>

            <p-button (click)="updateUnitRule()" label="Update Rule"></p-button>
        </form>
    </p-dialog>
</div>
