<div style="border: 0.01px solid gray" class="p-2 border-round shadow-lg">
    <div class="flex align-items-center justify-content-between">
        <h3>Building Charges</h3>
        <p-button
            icon="pi pi-plus"
            (click)="openAddBuildingSurchargeModal()"
            size="small"
            class="p-0"
        ></p-button>
    </div>

    <div
        *ngFor="let item of buildingCharges; let i = index"
        class="flex justify-content-between"
    >
        <p>{{ i + 1 }}) {{ item.particular }} - Nu. {{ item.amount }}</p>
        <div>
            <p-button
                icon="pi pi-pencil"
                (click)="openEditBuildingSurchargeModal(item)"
                [text]="true"
                class="p-0"
            ></p-button>
            <p-button
                icon="pi pi-trash"
                (click)="openDeleteBuildingSurchargeModal(item)"
                [text]="true"
                class="p-0"
                severity="danger"
            ></p-button>
        </div>
    </div>

    <div
        *ngIf="!buildingCharges.length"
        class="flex flex-column w-full align-items-center"
    >
        <img style="width: 100px" src="assets/logo/nodata.png" />
        <p>
            <small> Not Added </small>
        </p>
    </div>

    <p-dialog
        header="Add Building Surcharge"
        [(visible)]="showAddSurchargeModal"
        [style]="{ width: '500px' }"
        [modal]="true"
    >
        <form [formGroup]="createBuildingSurchargeForm" class="p-fluid p-2">
            <div class="grid">
                <div class="field col-12">
                    <label for="particular">Particulars</label>
                    <input
                        pInputText
                        id="particular"
                        formControlName="particular"
                        type="text"
                    />
                </div>
                <div class="field col-12">
                    <label for="rate">Rate</label>
                    <p-inputGroup>
                        <p-inputGroupAddon> Nu. </p-inputGroupAddon>
                        <input pInputText id="rate" formControlName="amount" />
                    </p-inputGroup>
                </div>
            </div>

            <p-button
                (click)="createBuildingSurcharge()"
                label="Create Surcharge"
            ></p-button>
        </form>
    </p-dialog>

    <p-dialog
        header="Edit Building Surcharge"
        [(visible)]="showEditBuildingSurchargeModal"
        [style]="{ width: '500px' }"
        [modal]="true"
    >
        <form [formGroup]="editBuildingSurchargeForm" class="p-fluid p-2">
            <div class="grid">
                <div class="field col-12">
                    <label for="particular">Particulars</label>
                    <input
                        pInputText
                        id="particular"
                        formControlName="particular"
                        type="text"
                    />
                </div>
                <div class="field col-12">
                    <label for="rate">Rate</label>
                    <p-inputGroup>
                        <p-inputGroupAddon> Nu. </p-inputGroupAddon>
                        <input pInputText id="rate" formControlName="amount" />
                    </p-inputGroup>
                </div>
            </div>

            <p-button
                (click)="createBuildingSurcharge()"
                label="Create Surcharge"
            ></p-button>
        </form>
    </p-dialog>

    <p-dialog
        header="Edit Building Surcharge"
        [(visible)]="showDeleteBuildingSurchargeModal"
        [style]="{ width: '500px' }"
        [modal]="true"
    >
        <p-button
            severity="danger"
            label="Delete"
            (click)="deleteBuildingSurcharge()"
        >
        </p-button>
        <p-button severity="success" label="Cancel"> </p-button>
    </p-dialog>
</div>
