<div>
    <p>To implement</p>
    <ul>
        <li>Pagination for buildings</li>
        <li>Dzongkhag wise view</li>
        <li>Thromde wise view</li>
        <li>Locality wise view</li>
    </ul>
</div>

<router-outlet></router-outlet>

<p-table
    [value]="buildingsPaginated"
    class="p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Buildings
            <p-button
                icon="pi pi-plus"
                (click)="openAddBuildingModal()"
            ></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Building</th>
            <th>Details</th>
            <th>Plot Mapping</th>
            <th>Ownership</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-building>
        <tr>
            <td>
                <div class="text-center">
                    <qrcode
                        *ngIf="building?.zhicharQrUuid"
                        [qrdata]="getQr(building?.zhicharQrUuid)"
                        [errorCorrectionLevel]="'M'"
                        [allowEmptyString]="true"
                        [cssClass]="'center'"
                        [errorCorrectionLevel]="'high'"
                        [colorDark]="'#111827'"
                        [colorLight]="'#FFFFFF00'"
                        [elementType]="'svg'"
                        [errorCorrectionLevel]="'H'"
                        [scale]="1"
                        [title]="'BuildingQr'"
                        [width]="100"
                        class="m-0 p-0"
                    ></qrcode>
                    <small> ID: {{ building.id }} </small>
                </div>
            </td>
            <td>
                {{ building.name }} <br />

                <strong>
                    {{
                        getBuildingFloorConfiguration(
                            building.regularFloorCount,
                            building.basementCount,
                            building.stiltCount,
                            building.atticCount,
                            building.jamthogCount
                        )
                    }}
                </strong>
                <br />
                <small> Type: {{ building.buildingType }} </small>
            </td>
            <td>
                buildingNumber: {{ building.buildingNumber }} <br />
                streetName:
                {{ building.streetName }}
                <br />
                {{ building.dzongkhag.name }}
                {{ building.administrativeZone.name }}
                {{ building.subadministrativeZone.name }}
            </td>

            <td>
                <div *ngFor="let owner of building.owners">
                    <p>
                        <strong>Name:</strong>
                        {{ owner.firstName }}
                        {{ owner.middleName }}
                        {{ owner.lastName }}
                    </p>
                    <p>
                        <strong>Building Ownership Type:</strong>
                        {{ owner.BuildingOwnership.ownershipType }}
                    </p>
                    <p>
                        <strong>Building Ownership Percentage:</strong>
                        {{ owner.BuildingOwnership.ownershipPercentage }}
                    </p>
                    <hr />
                </div>
                <div *ngIf="!building.owners || !building.owners.length">
                    <p-button label="Add Owners" icon="pi pi-plus"></p-button>
                </div>
            </td>
            <td>
                <p-button
                    label="Add Plot"
                    (click)="openCreateBuildingPlotModal(building.id)"
                    icon="pi pi-plus"
                ></p-button>

                <div *ngFor="let plot of building.plots">
                    <p>
                        Thram: <strong> {{ plot.thramNumber }} </strong>
                    </p>
                    <p>
                        PlotID: <strong> {{ plot.plotId }} </strong>
                    </p>

                    <hr />
                </div>
            </td>

            <td>
                <p-button
                    icon="pi pi-pencil"
                    (click)="openEditBuildingModal(building)"
                ></p-button>
                <p-button
                    icon="pi pi-eye"
                    (click)="openViewBuildingDetails(building)"
                ></p-button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            Showing {{ buildingsPaginated.length }} Buildings
        </div>
        <div></div>
    </ng-template>
</p-table>
