<div>
    <div class="flex justify-content-end align-items-center gap-2">
        <div class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
                type="text"
                placeholder="press enter to search"
                pInputText
                [(ngModel)]="searchKeywords"
                (keydown.enter)="searchLegislation()"
            />
        </div>

        <p
            class="noselect px-2 text-xl py-1 border-round text-blue-800 border-blue-800 hover:bg-blue-800 hover:text-white cursor-pointer"
            style="transition: 200ms all ease-in-out"
            (click)="increaseFontSize()"
            pTooltip="Increase font size"
        >
            A+
        </p>
        <p
            class="noselect px-2 py-1 text-xl border-round text-blue-800 border-blue-800 hover:bg-blue-800 hover:text-white cursor-pointer"
            style="transition: 200ms all ease-in-out"
            (click)="decreaseFontSize()"
            pTooltip="Decrease font size"
        >
            A-
        </p>
    </div>
</div>
<div id="sectionTab" (scroll)="onContainerScroll($event)" class="mt-6">
    <div
        *ngFor="let item of sections"
        [ngClass]="highlightSelectedSection(item)"
        [id]="getSectionId(item)"
    >
        <div
            [ngClass]="getSectionStyles(item.type, selectedLanguage)"
            class="flex gap-2 justify-content-between my-5"
        >
            <div class="flex-grow-1">
                <div
                    *ngIf="item.type !== 'CLAUSE'"
                    [style.fontSize.px]="fontSizeHeading$ | async"
                    [ngClass]="
                        item.softDelete ? 'line-through text-red-700' : ''
                    "
                >
                    {{
                        selectedLanguage === languageType.ENG
                            ? item?.clause_eng
                            : item?.clause_dzo
                    }}
                </div>
                <div
                    *ngIf="item.type === 'CLAUSE'"
                    [style.fontSize.px]="fontSizeContent$ | async"
                    [ngClass]="
                        item.softDelete ? 'line-through text-red-700	' : ''
                    "
                    [innerHTML]="
                        sanitizeHtml(
                            selectedLanguage === languageType.ENG
                                ? item?.clause_eng
                                : item?.clause_dzo
                        )
                    "
                ></div>

                <div *ngIf="item?.changes?.[0]" class="text-right font-normal">
                    <div *ngIf="item?.changes">
                        <div
                            *ngFor="let subitem of item?.changes"
                            (click)="showAmmendmentDetails(subitem.amendment)"
                            [style.fontSize.px]="
                                fontSizeAmmendmentNotes$ | async
                            "
                        >
                            <p
                                class="cursor-pointer text-base text-blue-700 hover:underline"
                            >
                                -
                                {{
                                    parseAmendmentChangeType(subitem.changeType)
                                }}
                                by
                                {{ subitem.amendment?.title_eng }}
                            </p>
                            <!-- <span
                                class="cursor-pointer text-base text-blue-700 hover:underline"
                            >
                                View Unmodified
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex">
                <p-button
                    icon="pi pi-pencil"
                    severity="info"
                    [text]="true"
                ></p-button>
                <p-button
                    icon="pi pi-trash"
                    severity="danger"
                    [text]="true"
                ></p-button>
            </div>
        </div>

        <div
            class="flex align-items-center text-center justify-content-between"
            *ngIf="sections.length !== sections.indexOf(item) + 1"
        >
            <hr class="flex-grow-1" />

            <p-button
                icon="pi pi-plus"
                severity="info"
                [text]="true"
                (click)="
                    openInsertSectionInBetween(
                        item,
                        sections[sections.indexOf(item) + 1]
                    )
                "
            ></p-button>

            <!-- <p-splitButton
                        label="add"
                        size="sm"
                        [model]="speeddialItems"
                    ></p-splitButton> -->
        </div>
    </div>

    <div class="flex align-items-center text-center justify-content-between">
        <hr class="flex-grow-1" />

        <p-button
            icon="pi pi-plus"
            severity="success"
            [text]="true"
            (click)="addSection()"
        ></p-button>
        <hr class="flex-grow-1" />
    </div>
</div>
