<div>
    <form
        class="grid formgrid p-fluid p-2"
        [formGroup]="updateDelegatedLegislationForm"
        (ngSubmit)="updateDelegatedLegislation()"
    >
        <div class="field mb-4 col-12 md:col-6">
            <label for="type" class="font-medium text-900"
                >Delegated Legislation Type*</label
            >
            <p-dropdown
                appendTo="body"
                id="type"
                name="type"
                formControlName="type"
                [options]="delegatedLegislationTypes"
                placeholder="Select Delegated Legislation Type"
            ></p-dropdown>
        </div>
        <div class="field mb-4 col-12 md:col-6">
            <label for="status" class="font-medium text-900"
                >Legislation Status*</label
            >
            <p-dropdown
                appendTo="body"
                id="status"
                name="status"
                formControlName="status"
                [options]="delegatedLegislationStatus"
                placeholder="Status"
            ></p-dropdown>
        </div>
        <div class="field mb-4 col-12">
            <label for="title_eng" class="font-medium text-900"
                >Title in English* </label
            ><input
                id="title_eng"
                name="title_eng"
                required
                formControlName="title_eng"
                type="text"
                pinputtext
                class="p-inputtext p-component p-element"
            />
        </div>
        <div class="field mb-4 col-12">
            <label for="title_dzo" class="font-medium text-900"
                >Title in Dzongkha </label
            ><input
                formControlName="title_dzo"
                id="title_dzo"
                name="title_dzo"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element"
            />
        </div>

        <div class="field mb-4 col-12 md:col-6">
            <label for="documentYear" class="font-medium text-900"
                >Document Year*</label
            >
            <input
                formControlName="documentYear"
                id="documentYear"
                name="documentYear"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element"
            />
        </div>

        <p-divider type="solid" class="col-12"
            >Delegated Legislation Dates
        </p-divider>

        <div class="field mb-4 col-12 md:col-6">
            <label for="status" class="font-medium text-900"
                >Enactment Date</label
            >
            <p-calendar
                dateFormat="yy-mm-dd"
                appendTo="body"
                formControlName="enactmentDate"
                [iconDisplay]="'input'"
                [showIcon]="true"
            ></p-calendar>
        </div>

        <div class="field mb-4 col-12 md:col-6">
            <label for="status" class="font-medium text-900">Revoke Date</label>
            <p-calendar
                dateFormat="yy-mm-dd"
                appendTo="body"
                formControlName="repealDate"
                [iconDisplay]="'input'"
                [showIcon]="true"
            ></p-calendar>
        </div>

        <div class="field col-12 flex justify-content-end">
            <p-button
                severity="secondary"
                icon="pi pi-times"
                label="Cancel"
                (click)="close()"
                [text]="true"
            ></p-button>
            <p-button type="submit" label="Save" icon="pi pi-check"></p-button>
        </div>
    </form>
</div>
