<form [formGroup]="updateUnitForm" class="p-fluid p-2">
    <div class="grid">
        <div class="field col-12 md:col-6">
            <label for="attic">Zhichar Unit Id</label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="zhicharUnitId"
            ></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label for="attic">Zhichar QrUuid</label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="zhicharQrUuid"
            ></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label for="attic">Floor Level</label>
            <p-dropdown
                [options]="floorLevels"
                formControlName="floorLevel"
            ></p-dropdown>
        </div>
        <div class="field col-12 md:col-6">
            <label for="unitNumber">Unit Number</label>
            <p-dropdown
                id="unitNumber"
                [options]="unitNumbers"
                formControlName="unitNumber"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-6">
            <label for="attic">Bed Rooms</label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="bedroomCount"
            ></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label for="attic"> Toilets </label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="toiletCount"
            ></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
            <label for="attic"> Balcony </label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="balconyCount"
            ></p-inputNumber>
        </div>

        <div class="field col-12 md:col-6">
            <label for="attic"> Floor Area </label>
            <p-inputNumber
                inputId="integeronly"
                formControlName="floorArea"
            ></p-inputNumber>
        </div>

        <div class="field col-12 md:col-6">
            <label for="zhichar">BPC consumer ID</label>
            <input
                pInputText
                id="zhichar"
                formControlName="powerConsumerId"
                type="text"
            />
        </div>
    </div>

    <p-messages
        [(value)]="messages"
        [enableService]="false"
        [closable]="false"
    ></p-messages>
    <p-button (click)="updateUnit()" label="Update Unit"></p-button>
</form>
