<div class="p-4 flex flex-column">
    <div class="grid">
        <div class="col-12">
            <p class="mb-2">Type</p>
            <p-dropdown
                [options]="sectionTypes"
                optionLabel="label"
                [(ngModel)]="selectedSectionType"
                optionValue="value"
                placeholder="Type"
            ></p-dropdown>
        </div>
    </div>

    <p-tabView>
        <p-tabPanel header="English Content">
            <div class="grid flex-grow-1">
                <div class="col" *ngIf="selectedSectionType !== 'CLAUSE'">
                    <div class="flex flex-column gap-2">
                        <textarea
                            pInputText
                            id="username"
                            rows="12"
                            aria-describedby="username-help"
                            [(ngModel)]="clause_eng"
                        >
                        </textarea>
                    </div>
                </div>

                <div class="col" *ngIf="selectedSectionType === 'CLAUSE'">
                    <editor
                        apiKey="0k2x3inbdfpo8juduthw9844fmn3cnjzcipqocembrim4ivw"
                        [init]="{
                            height: 700,
                            plugins:
                                'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks visualchars wordcount',
                            toolbar:
                                'undo redo | fontsize | bold italic underline strikethrough | numlist bullist indent outdent | link image media table | align lineheight | removeformat',
                            content_style: 'body { line-height: 2; }'
                        }"
                        [(ngModel)]="clause_eng"
                    ></editor>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Dzongkha Content">
            <div class="grid flex-grow-1">
                <div *ngIf="selectedSectionType !== 'CLAUSE'" class="col-12">
                    <div class="flex flex-column gap-2">
                        <textarea
                            pInputText
                            id="username"
                            rows="12"
                            aria-describedby="username-help"
                            [(ngModel)]="clause_dzo"
                        >
                        </textarea>
                    </div>
                </div>

                <div class="col" *ngIf="selectedSectionType === 'CLAUSE'">
                    <editor
                        apiKey="0k2x3inbdfpo8juduthw9844fmn3cnjzcipqocembrim4ivw"
                        [init]="{
                            height: 700,
                            plugins:
                                'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks visualchars wordcount',
                            toolbar:
                                'undo redo | fontsize | bold italic underline strikethrough | numlist bullist indent outdent | link image media table | align lineheight | removeformat',
                            content_style: 'body { line-height: 2; }'
                        }"
                        [(ngModel)]="clause_dzo"
                    ></editor>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>

    <div>
        <p-button label="Add Section" (click)="insertSection()"></p-button>
    </div>
</div>
