<div class="flex align-items-center justify-content-between">
    Lease Agreements
</div>
<p-toast></p-toast>

<i class="pi pi-pi-phone" style="font-size: 1rem"></i>

<p-table
    [value]="paginatedLeaseAgreements.data"
    class="p-datatable-sm"
    [tableStyle]="{ 'min-width': '50rem' }"
>
    <ng-template pTemplate="header">
        <tr>
            <th>Status</th>
            <th>Parties</th>
            <th>Property</th>
            <th>Charges</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
        <tr>
            <td>
                <p>Status: {{ item.leaseStatus }}</p>
                <p>Lease Start Date : {{ item.leaseStartDate }}</p>
                <p>Lease End Date : {{ item.leaseEndDate }}</p>
                <p>Lease Duration: {{ item.leaseDurationMonths }}</p>
            </td>
            <td>
                <p>Tenant: {{ item.tenantId }}</p>
                <p>Landlord: {{ item.landlordId }}</p>
            </td>
            <td>
                <p>Building: {{ item.buildingId }}</p>
                <p>Unit: {{ item.unitId }}</p>
                <p>Sanctioned Use: {{ item.use }}</p>
            </td>
            <td>
                <p>Rent: {{ item.rent }}</p>
                <p *ngFor="let charge of item.leaseSurcharges">
                    {{ charge.particular }}: Nu. {{ charge.amount }}
                </p>
                <p>
                    Monthly Payable:
                    <strong>Nu. {{ computeMonthlyPayable(item) }} </strong>
                </p>
            </td>
            <td>
                <div *ngFor="let invoice of item.invoices">
                    <p>Invoice # {{ invoice.id }}</p>
                    <p>
                        {{ invoice.title }}
                    </p>
                    <p>Total amount: {{ invoice.totalAmount }}</p>

                    <p-tag
                        [value]="invoice.status"
                        [severity]="getSeverity(invoice.status)"
                    ></p-tag>
                </div>
                <p-button
                    *ngIf="!item.invoices.length"
                    label="generateInvoice"
                    (click)="generateInvoice(item)"
                ></p-button>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div>
            <p-paginator
                (onPageChange)="onPageChange($event)"
                [first]="paginatedLeaseAgreements.firstPage"
                [rows]="paginatedLeaseAgreements.limit"
                [totalRecords]="paginatedLeaseAgreements.count"
                [rowsPerPageOptions]="[10, 20, 50]"
            ></p-paginator>
        </div>
    </ng-template>
</p-table>
