<form [formGroup]="createDzongkhagForm" class="p-fluid p-2">
    <div class="grid">
        <div class="field col-12 md:col-6">
            <label for="cid">Name</label>
            <input pInputText id="cid" type="text" formControlName="name" />
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstName">Name in Dzongkha</label>
            <input
                pInputText
                id="firstName"
                type="text"
                formControlName="nameDzo"
            />
        </div>
    </div>
    <p-messages
        [(value)]="messages"
        [enableService]="false"
        [closable]="false"
    ></p-messages>
    <p-button (click)="createDzongkhag()" label="Create Dzongkhag"></p-button>
</form>
