<form [formGroup]="createBuildingPlotForm" class="p-fluid p-2">
    <p-toast></p-toast>
    <div class="grid">
        <p>Create Plot Details for Building ID {{ buildingId }}</p>
        <div class="field col-12 md:col-4">
            <label for="zhichar"> Thram Number</label>
            <input
                pInputText
                id="zhichar"
                formControlName="thramNumber"
                type="text"
            />
        </div>
        <div class="field col-12 md:col-4">
            <label for="zhichar"> PlotID</label>
            <input
                pInputText
                id="zhichar"
                formControlName="plotId"
                type="text"
            />
        </div>
    </div>
    <p-button
        (click)="createBuildingPlot()"
        label="Create Building Plot"
    ></p-button>
</form>
