<form [formGroup]="createBuildingForm" class="p-fluid p-3">
    <div class="grid">
        <div class="field col-12 md:col-4">
            <label for="zhichar">Zhichar Building ID</label>
            <input
                pInputText
                id="zhichar"
                (keyup)="getZhicharBuildingInformation($event)"
                formControlName="zhicharBuildingId"
                type="text"
            />
        </div>

        <div class="field col-12 md:col-4">
            <label for="qrId">Zhichar Qr ID</label>
            <input
                pInputText
                id="qrId"
                type="text"
                formControlName="zhicharQrUuid"
            />
        </div>

        <p class="col-12 font-semibold">Physical Features</p>
        <hr class="col-12 m-0 p-0" />

        <div class="field col-12 md:col-4">
            <label for="buildingType">Building Type</label>
            <p-dropdown
                [options]="buildingTypes"
                formControlName="buildingType"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-4">
            <label for="jamthogs">Jamthogs*</label>
            <p-dropdown
                [options]="numberedDropDownOptions"
                formControlName="jamthogCount"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-4">
            <label for="attic">Attic*</label>

            <p-dropdown
                [options]="numberedDropDownOptions"
                formControlName="atticCount"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-4">
            <label for="regularFloors">Regular Floors*</label>
            <p-dropdown
                [options]="numberedDropDownOptions"
                formControlName="regularFloorCount"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-4">
            <label for="stilts">Stilts*</label>
            <p-dropdown
                [options]="numberedDropDownOptions"
                formControlName="stiltCount"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-4">
            <label for="basement">Basement*</label>
            <p-dropdown
                [options]="numberedDropDownOptions"
                formControlName="basementCount"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-6">
            <label for="buildingArea">Building Area</label>

            <p-inputGroup>
                <input pInputText id="buildingArea" formControlName="areaSqM" />
                <p-inputGroupAddon> Sq. M </p-inputGroupAddon>
            </p-inputGroup>
        </div>

        <p class="col-12 font-semibold">Address and Location</p>
        <hr class="col-12 m-0 p-0" />

        <div class="field col-12 md:col-4">
            <label for="latitude">Latitude*</label>
            <input
                pInputText
                id="latitude"
                type="text"
                formControlName="latitude"
            />
        </div>

        <div class="field col-12 md:col-4">
            <label for="longitude">Longitude*</label>
            <input
                pInputText
                id="longitude"
                type="text"
                formControlName="longitude"
            />
        </div>
        <hr class="col-12 m-0 p-0" />

        <div class="field col-12 md:col-4">
            <label for="buildingName">Building Name</label>
            <input
                pInputText
                id="buildingName"
                type="text"
                formControlName="name"
            />
        </div>

        <div class="field col-12 md:col-4">
            <label for="buildingNumber">Building Number</label>
            <input
                pInputText
                id="buildingNumber"
                type="text"
                formControlName="buildingNumber"
            />
        </div>

        <div class="field col-12 md:col-4">
            <label for="streetName">Street Name</label>
            <input
                pInputText
                id="streetName"
                type="text"
                formControlName="streetName"
            />
        </div>

        <div class="field col-12 md:col-4">
            <label for="quadrant">Quadrant</label>
            <input
                pInputText
                id="quadrant"
                type="text"
                formControlName="quadrant"
            />
        </div>
        <div class="field col-12 md:col-8">
            <label for="landmark">Land Mark</label>
            <textarea
                pInputTextarea
                id="landmark"
                formControlName="landmark"
                rows="1"
            ></textarea>
        </div>
        <hr class="col-12 m-0 p-0" />

        <div class="field col-12 md:col-4">
            <label for="dzongkhag">Dzongkhag*</label>
            <p-dropdown
                [options]="dzongkhags"
                optionLabel="name"
                optionValue="id"
                (onChange)="dzongkhagSelected($event)"
                formControlName="dzongkhagId"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-4">
            <label for="thromde">Administrative Zone*</label>
            <p-dropdown
                [options]="admninistrativeZones"
                optionLabel="name"
                optionValue="id"
                (onChange)="administrativeZoneSelected($event)"
                formControlName="administrativeZoneId"
            ></p-dropdown>
        </div>

        <div class="field col-12 md:col-4">
            <label for="locality">Sub Administrative Zone*</label>
            <p-dropdown
                [options]="subAdministrativeZones"
                optionLabel="name"
                optionValue="id"
                formControlName="subadministrativeZoneId"
            ></p-dropdown>
        </div>

        <div class="col-12 md:12 flex align-items-center gap-3">
            <p-checkbox
                formControlName="isActive"
                binary="true"
                inputId="ny"
            ></p-checkbox>
            <label for="ny"
                >Is the building Currently Active in the system?*</label
            >
        </div>
    </div>

    <p-button (click)="updateBuilding()" label="Update Building"></p-button>
</form>
