<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title"> Lease Terms </ng-template>
        <ng-template pTemplate="subtitle"> Terms and Condition </ng-template>
        <ng-template pTemplate="content">
            <div class="flex w-full flex-column gap-4">
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        1. The Tenant Can Sublet the Unt?
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton
                            name="Yes"
                            [value]="true"
                            [(ngModel)]="tenantSubletAuthority"
                            inputId="tenantSubletAuthorityYes"
                        ></p-radioButton>
                        <label for="tenantSubletAuthorityYes" class="ml-2"
                            >Yes</label
                        >
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton
                            name="No"
                            [value]="false"
                            [(ngModel)]="tenantSubletAuthority"
                            inputId="tenantSubletAuthorityNo"
                        ></p-radioButton>
                        <label for="tenantSubletAuthorityNo" class="ml-2"
                            >No, Sub-let only with a written consent of the
                            owner</label
                        >
                    </div>
                </div>

                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        2. The owner may terminate the rental agreement and
                        reacquire the rental unit for his own occupation during
                        the subsistence of tenancy in accordance with the
                        Tenancy Act.
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton
                            [value]="true"
                            [(ngModel)]="landlordPrematureTermination"
                        ></p-radioButton>
                        <label class="ml-2">Yes</label>
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton
                            [value]="false"
                            [(ngModel)]="landlordPrematureTermination"
                        ></p-radioButton>
                        <label class="ml-2">No</label>
                    </div>
                </div>
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        3. The tenant may terminate the rental agreement during
                        the subsistence of the tenancy in accordance with the
                        Tenancy Act.
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton
                            [value]="true"
                            [(ngModel)]="landlordPrematureTermination"
                        ></p-radioButton>
                        <label class="ml-2">Yes</label>
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton
                            [value]="false"
                            [(ngModel)]="landlordPrematureTermination"
                        ></p-radioButton>
                        <label class="ml-2">No</label>
                    </div>
                </div>

                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        4. The tenant Shall Pay the total monthly payable on or
                        before
                    </div>

                    <div class="flex align-items-center">
                        <p>Day</p>
                        <p-inputNumber
                            inputId="integeronly"
                            [(ngModel)]="paymentDueDay"
                        >
                        </p-inputNumber>
                        <p>of the next month</p>
                    </div>
                </div>

                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        4. That the rent as payable every month shall be
                        tendered by the tenant to the owner on or before day
                        {{ paymentDueDay }} of the following month , failing
                        which the owner shall charge and the tenant shall pay an
                        interest at 24% per annum on the amount of rent payable
                        for every day of default.
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton
                            [value]="true"
                            [(ngModel)]="applyLatePaymentFee"
                        ></p-radioButton>
                        <label class="ml-2">Yes</label>
                    </div>

                    <div class="flex align-items-center">
                        <p-radioButton
                            [value]="false"
                            [(ngModel)]="applyLatePaymentFee"
                        ></p-radioButton>
                        <label class="ml-2">No</label>
                    </div>
                </div>

                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        5. The owner shall serve a notice of
                    </div>

                    <div class="flex align-items-center">
                        <p-inputNumber
                            inputId="integeronly"
                            [(ngModel)]="rentIncreaseNoticePeriod"
                        >
                        </p-inputNumber>
                        <p>Months prior to increasing the rent</p>
                    </div>
                </div>
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        6. The tenant shall serve a notice of
                    </div>

                    <div class="flex align-items-center">
                        <p-inputNumber
                            inputId="integeronly"
                            [(ngModel)]="vacationNoticePeriod"
                        >
                        </p-inputNumber>
                        <p>
                            Months prior to vacating the property or terminating
                            the contract
                        </p>
                    </div>
                </div>
                <div class="flex flex-wrap gap-3">
                    <div class="flex align-items-center">
                        7. The landlord shall serve a notice of
                    </div>

                    <div class="flex align-items-center">
                        <p-inputNumber
                            inputId="integeronly"
                            [(ngModel)]="evictionNoticePeriod"
                        >
                        </p-inputNumber>
                        <p>Months prior to evicting a tenant.</p>
                    </div>
                </div>
            </div>

            <p>
                8. Additionally tenant must observe the following Building and
                Unit rules.
            </p>
            <p-table [value]="leaseRules" class="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Particular</th>
                        <th>Origin</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-editing="editing">
                    <tr>
                        <td
                            [pEditableColumn]="item.particular"
                            pEditableColumnField="particular"
                        >
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                        pInputText
                                        type="text"
                                        [(ngModel)]="item.particular"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ item.particular }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td>
                            {{ item.origin }}
                        </td>

                        <td>
                            <p-button
                                icon="pi pi-times"
                                label="Delete"
                                severity="danger"
                            ></p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button
                    label="Back"
                    (onClick)="prevPage()"
                    icon="pi pi-angle-left"
                ></p-button>
                <p-button
                    label="Next"
                    (onClick)="nextPage()"
                    icon="pi pi-angle-right"
                    iconPos="right"
                ></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
